	<div class="large-4 columns">
		<ul class="side-nav">
		  <li class="active" id="about"><a href="#">About Us</a></li>
		  <li id="team"><a href="#">Our Team</a></li>
		</ul>
	</div>
	<div class="large-8 columns">
		<div class="information" id="about_information">
			<h2 class="subheader">About Us</h2>
			<p>
				Founded in 1995, the principals of Lighthouse have significant transaction experience coupled with a skilled and knowledgeable support team, Lighthouse offers best-in-class financing solutions for all commercial real estate property types, regardless of complexity.  Lighthouse enjoys excellent relationships with virtually every major lending institution in the US and Canada and is a leading originator of permanent debt for CMBS conduits, life insurance companies, commercial banks, mortgage REIT’s and private equity funds.
			</p>
			<p>	
				Whether market conditions are good or bad, property owners cannot be dependent upon one source for their capital requirements. 	Our established network of lending relationships gives borrowers the peace of mind that we will provide financing solutions quickly and efficiently.
			</p>
			<p>
				To achieve success in apartment and commercial real estate lending you need more than people skills, knowledge, and experience.  You must also have critical thinking skills and financial savvy.  These two traits infuse our mindset with creative solutions that are more than a standard procedure, a business model, or part of a methodology.  This is how your loan gets financed.
			</p>
			<p>
				Lighthouse Commercial Mortgage can be counted on to provide the following:
				<ul>
					<li>Nationwide execution</li>
					<li>Extensive network of capital sources</li>
					<li>Professional underwriting, placement and processing</li>
					<li>Honesty and Integrity</li>
				</ul>
			</p>
			<p>
				We value your business and look forward to establishing a relationship that will last for years to come.  Contact us today and experience the Lighthouse advantage!
			</p>
		</div>
		<div class="information" id="team_information" style="display: none;">
			<h2 class="subheader">Our Team</h2>
			<div class="row">
				<div class="large-6 columns">
					<h5>Vernon Morrison</h5>
					<h6 class="subheader">Partner & Managing Director</h6>
					<ul class="vcard">
						<li class="street-address">Phone: 614-481-6075</li>
						<li class="street-address">Fax: 614-448-3113</li>
						<li class="email"><a href="mailto:vernon_morrison@lighthouse-commercial.com">Email</a></li>
					</ul>
				</div>
				<div class="large-6 columns">
					<h5>Michael Anderson</h5>
					<h6 class="subheader">Partner & Managing Director</h6>
					<ul class="vcard">
						<li class="street-address">Phone: 614-340-3972</li>
						<li class="street-address">Fax: 614-448-3113</li>
						<li class="email"><a href="mailto:manderson@lighthouse-commercial.com">Email</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<h5>Leslie Steskal</h5>
					<h6 class="subheader">Financial Analyst</h6>
					<ul class="vcard">
						<li class="street-address">Phone: 614-481-6088</li>
						<li class="street-address">Fax: 614-448-3113</li>
						<li class="email"><a href="mailto:leslie_steskal@lighthouse-commercial.com">Email</a></li>
					</ul>
				</div>
				<div class="large-6 columns">
					<h5>Michael Hufford</h5>
					<h6 class="subheader">Loan Officer</h6>
					<ul class="vcard">
						<li class="street-address">Phone: 614-481-6073</li>
						<li class="street-address">Fax: 614-448-3113</li>
						<li class="email"><a href="mailto:mhufford@l-mtg.com">Email</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<h5>Brad Arner</h5>
					<h6 class="subheader">Lender Relationship Manager</h6>
					<ul class="vcard">
						<li class="street-address">Phone: 614-453-8484</li>
						<li class="street-address">Fax: 614-448-3113</li>
						<li class="email"><a href="mailto:barner@lighthouse-commercial.com">Email</a></li>
					</ul>
				</div>
				<div class="large-6 columns">
					<h5>Ryan Retcher </h5>
					<h6 class="subheader">Director of Originations - Ohio</h6>
					<ul class="vcard">
						<li class="street-address">Phone: 614-407-3679</li>
						<li class="street-address">Fax: 614-448-3113</li>
						<li class="email"><a href="mailto:rretcher@lighthouse-commercial.com">Email</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<h5>Deanna Devettori</h5>
					<h6 class="subheader">Loan Servicing</h6>
					<ul class="vcard">
						<!-- <li class="street-address">Phone: 614-481-6078</li>
						<li class="street-address">Fax: 614-448-3113</li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>