
	<div class="large-8 large-centered columns">
		<h2>The Lighthouse Advantage</h2>
		<p>
			Investors need a capital source that is flexible and proactive in overcoming the obstacles associated 
			with our economy’s volatile credit markets. Establishing a relationship with multiple financing institutions 
			is critical to ensure the long-term success of your investment portfolio. Too many investors have discovered 
			the high costs incurred when their source of capital dries up. As they scramble to find a new lender, many of 
			these investors are forced to sell their assets quickly or refinance on unfavorable terms. It can be difficult 
			and time consuming to continually locate lenders that are comfortable financing the various property types and 
			locations that most investors are seeking. How do you know you are getting the best terms available? 
		</p>
		<p>	
			LCM has already done the work for you!
		</p>
		<p>
			We have built an expansive network of capital sources with nationwide execution to ensure a quick and efficient 
			financing. Our relationships provide you with numerous financing alternatives and allow you to secure terms that 
			fit your unique situation. Difficult property types and rural locations are not a problem. While you focus on the 
			sustained success of your investments, we will provide you with the capital that is necessary to achieve your goals.
		</p>
		<p>
			Lighthouse Commercial Mortgage can be counted on to provide the following:
			<ul>
				<li>Nationwide Execution</li>
				<li>Extensive Network of Capital Sources</li>
				<li>Creative Solutions to Unique Problems</li>
				<li>Financial Savvy and Insight into your Capital Structure</li>
			</ul>
		</p>
		<p>
			In addition to our competitive product offerings, we are especially proud of our reputation for providing excellent 
			service and giving personal attention to our customers. We value your business and look forward to establishing a 
			relationship that will last for years to come. Contact us today and experience the Lighthouse advantage!
		</p>
	</div>
