
	<h2>Legal Information</h2>
	<h4>Privacy Policy</h4>
	<p>
		Lighthouse Commercial Mortgage, its affiliates, and joint venture partners (referred to LCM) understands 
		the importance of providing you with information regarding the collection, storage and use of data that 
		is collected as result of your (the "User") use of our website.
	</p>
	<h4>Privacy Statement</h4>
	<p>
		The personal and private information you provide to LCM will only be used in connection with processing, 
		underwriting, funding, servicing, etc. the loan for which you have applied. We will not share any confidential 
		consumer information with any third party, except as necessary to process, underwrite, fund, service, etc. the 
		loan for which you have applied. We make no representation or warranty regarding the type, format or medium 
		that may be used to store data collected from Users of the website and reserve the right to determine, in our 
		sole discretion, the type, format or medium of data storage which may, or may not, include encryption.
	</p>
	<h4>Cookies</h4>
	<p>
		We may receive and store certain types of information whenever a consumer uses our website. Website may employ 
		the use of "cookies" to enhance the functionality of the website and to make transactions and other activities 
		more convenient and efficient for Users. A "cookie" is a small text file stored locally on the computer used to 
		access the User's account, and contains information relating to a User's past use of the website. If you disable 
		the use of "cookies" on your Internet browser, you may prevent yourself from being able to transact business on 
		our website. Please consult the documentation associated with your web browser for more information.
	</p>
	<h4>Changes to the Privacy Policy</h4>
	<p>
		LCM reserves the right to change its Privacy Policy at any time without notice. Information that is submitted to 
		LCM will be protected in accordance with the Privacy Policy in effect at the time the information is submitted to LCM.
	</p>
	<p>
		Questions regarding our Privacy Policy should be directed to: 
		<%= link_to "apartment@Lighthouse-Commercial.com", url: "apartment@Lighthouse-Commercial.com" %>.
	</p>
	
	<h4>Agreement and Terms of Use of Site</h4>
	<p>
		Our web site is offered to you, the User, conditioned upon your acceptance without modification of the terms, 
		conditions and notices contained in this Agreement (the "Agreement"). Your use of this website constitutes your 
		agreement to all such terms, conditions and notices.
	</p>
