<div class="large-12 large-centered columns">
	<div class="row">
		<div class="large-8 columns">
			<h3>Bridge Financing <br><span class="subheader">Indicative Terms:</span></h3>

		</div>
		<div class="large-4 columns">

		</div>
	</div>

	<!-- <div class="row">
		<ul data-orbit>
		  <li data-orbit-slide="headline-1">
		    <p>Pellentesque habitant morbi tristique senectus.</p>
		  </li>
		  <li data-orbit-slide="headline-2">
		    <p>Pellentesque habitant morbi tristique senectus.</p>
		  </li>
		  <li data-orbit-slide="headline-3">
		    <p>Pellentesque habitant morbi tristique senectus.</p>
		  </li>
		</ul>
	</div> -->
	<div class="row">
		<div class="large-12 columns">
			<ul class="inline-list">
				<li><div class="property_type"><h5 style=" padding:7px;">Apartments</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Hotel</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Industrial</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Mixed Use</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Office</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Retail</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Self-Storage</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Single Tenant</h5></div></li>
			</ul>
		</div>
	</div>
	<table>
	  <tbody>
	    <tr>
	      <td class="lead">Loan Amount</td>
	      <td class="lead spec">$25,000,000 and up</td>
	    </tr>
			<tr>
	      <td class="lead">Loan-to-Value</td>
	      <td class="lead spec">75% Maximum</td>
	    </tr>
			<tr>
	      <td class="lead">Loan Term</td>
	      <td class="lead spec">2 to 3 Years</td>
	    </tr>
			<tr>
	      <td class="lead">Amortization</td>
	      <td class="lead spec">Interest Only</td>
	    </tr>
			<tr>
	      <td class="lead">Origination Fee</td>
	      <td class="lead spec">Customary 1%</td>
	    </tr>
			<tr>
	      <td class="lead">Lender Fee</td>
	      <td class="lead spec">Typically 1 to 2%</td>
	    </tr>	
			<tr>
	      <td class="lead">Pricing</td>
	      <td class="lead spec">250 to 400 bps over LIBOR</td>
	    </tr>
			<tr>
	      <td class="lead">Borrowing Entity</td>
	      <td class="lead spec">A bankruptcy-remote Special Purpose Entity</td>
	    </tr>
			<tr>
	      <td class="lead">Recourse</td>
	      <td class="lead spec">Full Recourse (Non-Recourse in select cases)</td>
	    </tr>

	  </tbody>
	</table>
</div>