<div class="large-12 large-centered columns">
	<div class="row">
		<div class="large-8 columns">
			<h3>Conventional Bank Program <br><span class="subheader">Indicative Terms:</span></h3>
			<p class="subheader">
				Conventional loans are available from a variety of commercial banks.
				Below are the general parameters that we consider representative of the lenders we represent.
			</p>
		</div>
		<div class="large-4 columns">
			<p><%= link_to "Download a PDF Copy", "https://s3.amazonaws.com/lighthouse_commercial_production/loan_programs/conventional_program.pdf", target: "_blank" %></p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<ul class="inline-list">
				<li><div class="property_type"><h5 style=" padding:7px;">Apartments</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Hotel</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Industrial</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Mixed Use</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Mobile Home Parks</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Office</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Retail</h5></div></li>				
				<li><div class="property_type"><h5 style=" padding:7px;">Senior Housing</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Student Housing</h5></div></li>
			</ul>
		</div>	
	</div>
	<table>
	  <tbody>
	    <tr>
	      <td class="lead">Loan Amount</td>
	      <td class="lead spec">$1,000,000 and up</td>
	    </tr>
			<tr>
	      <td class="lead">Loan-to-Value</td>
	      <td class="lead spec">65 to 75% Maximum</td>
	    </tr>
			<tr>
	      <td class="lead">Debt Yield</td>
	      <td class="lead spec">9 to 12%</td>
	    </tr>
			<tr>
				<td class="lead">DSCR</td>
				<td class="lead spec">Case-by-case, May be global</td>
			</tr>
			<tr>
				<td class="lead">Interest Rate</td>
				<td class="lead spec">Fixed and variable rate options</td>
			</tr>
			<tr>
	      <td class="lead">Loan Term</td>
	      <td class="lead spec">5 and 10 Years</td>
	    </tr>
			<tr>
	      <td class="lead">Amortization</td>
	      <td class="lead spec">15-30 Years (I/O available on a select basis)</td>
	    </tr>
			<tr>
	      <td class="lead">Origination Fee</td>
	      <td class="lead spec">Customary 1%</td>
	    </tr>
			<tr>
	      <td class="lead">Borrowing Entity</td>
	      <td class="lead spec">A bankruptcy-remote Special Purpose Entity</td>
	    </tr>
			<tr>
	      <td class="lead">Recourse</td>
	      <td class="lead spec">Typically Full Recourse</td>
	    </tr>
			<tr>
	      <td class="lead">Reserves</td>
	      <td class="lead spec">May be required for Taxes and Insurance</td>
	    </tr>
			<tr>
	      <td class="lead">Prepayment</td>
	      <td class="lead spec">Varies by lender</td>
	    </tr>
			<tr>
	      <td class="lead">Assumability</td>
	      <td class="lead spec">Typically not available</td>
	    </tr>
			<tr>
	      <td class="lead">Ownership Transfers</td>
	      <td class="lead spec">Very limited, except for estate planning purposes</td>
	    </tr>
	  </tbody>
	</table>
</div>