<div class="large-12 large-centered columns">
	<div class="row">
		<div class="large-8 columns">
			<h3>Construction Financing Program <br><span class="subheader">Indicative Terms:</span></h3>
			<p class="subheader">
				Construction financing is available from a variety of life insurance companies and commercial banks.
				Below are the general parameters that we consider representative of the lenders we represent.
			</p>
		</div>
		<div class="large-4 columns">
			<p><%= link_to "Download a PDF Copy", "https://s3.amazonaws.com/lighthouse_commercial_production/loan_programs/construction_program.pdf", target: "_blank" %></p>
		</div>
	</div>
	<table>
	  <tbody>
	    <tr>
	      <td class="lead">Loan Amount</td>
	      <td class="lead spec">$3,000,000 and up for commercial banks</td>
	    </tr>
			<tr>
				<td class="lead"> </td>
				<td class="lead spec">$15,000,000 and up for life companies</td>
			</tr>
			<tr>
	      <td class="lead">Loan-to-Value</td>
	      <td class="lead spec">Up to 75% of the "As Completed" appraised value</td>
	    </tr>
			<tr>
	      <td class="lead">Loan-to-Cost</td>
	      <td class="lead spec">75 to 85% (up to 90% with equity participation from lender)</td>
	    </tr>
			<tr>
	      <td class="lead">Loan Term</td>
	      <td class="lead spec">20 to 60 months for construction only loan and up to 30 years for construction/perm loans</td>
	    </tr>
			<tr>
	      <td class="lead">Origination Fee</td>
	      <td class="lead spec">Customary 1%</td>
	    </tr>
			<tr>
	      <td class="lead">Borrowing Entity</td>
	      <td class="lead spec">A bankruptcy-remote Special Purpose Entity may be required</td>
	    </tr>
			<tr>
	      <td class="lead">Recourse</td>
	      <td class="lead spec">Typically, full recourse is required,  except for loans in excess of $25MM or equity participation loans, excluding the standard 'bad boy' carve-outs</td>
	    </tr>
	  </tbody>
	</table>
	<hr>
	<div class="row">
		<div class="large-3 columns">
			<h5 class="subheader">Market Analysis</h5>
			<p>
				Required for all multifamily and hospitality loans and may be required for other property types
			</p>
		</div>
		<div class="large-3 columns">
			<h5 class="subheader">Preleasing</h5>
			<p>
				Required for single tenant properties, percentage requirement for multi-tenant properties, but not required for multifamily
			</p>
		</div>
		<div class="large-3 columns">
			<h5 class="subheader">Separate Parcel</h5>
			<p>
				Typically, the collateral for the transaction must have a separate tax parcel to qualify
			</p>
		</div>
		<div class="large-3 columns">
			<h5 class="subheader">Assignment</h5>
			<p>
				Requires lender approval in all cases
			</p>
		</div>
	</div>
</div>