<div class="large-12 large-centered columns">
	<div class="row">
		<div class="large-8 columns">
			<h3>Credit Tenant Lease Program <br><span class="subheader">Indicative Terms:</span></h3>

		</div>
		<div class="large-4 columns">
			<p><%= link_to "Download a PDF Copy", "https://s3.amazonaws.com/lighthouse_commercial_production/loan_programs/credit_tenant_lease_program.pdf", target: "_blank" %></p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<ul class="inline-list">
				<li><div class="property_type"><h5 style=" padding:7px;">Ground Lease</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Industrial</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Office</h5></div></li>
				<li><div class="property_type"><h5 style=" padding:7px;">Retail</h5></div></li>
			</ul>
		</div>
	</div>
	<table>
	  <tbody>
	    <tr>
	      <td class="lead">Loan Amount</td>
	      <td class="lead spec">$2,500,000 and up</td>
	    </tr>
			<tr>
	      <td class="lead">Loan-to-Value</td>
	      <td class="lead spec">100% Maximum</td>
	    </tr>
			<tr>
	      <td class="lead">Minimum DSCR</td>
	      <td class="lead spec">1.00 to 1.05</td>
	    </tr>
			<tr>
	      <td class="lead">Loan Term & Amortization</td>
	      <td class="lead spec">Typically, the duration of the remaining primary term of the lease at time of closing</td>
	    </tr>
			<tr>
	      <td class="lead">Origination Fee</td>
	      <td class="lead spec">Customary 1%</td>
	    </tr>
			<tr>
	      <td class="lead">Borrowing Entity</td>
	      <td class="lead spec">A bankruptcy-remote Special Purpose Entity</td>
	    </tr>
			<tr>
	      <td class="lead">Recourse</td>
	      <td class="lead spec">Non-recourse, excluding the usual 'bad boy' carve outs</td>
	    </tr>
			<tr>
	      <td class="lead">Reserves</td>
	      <td class="lead spec">May be required for structural replacements</td>
	    </tr>
			<tr>
	      <td class="lead">Prepayment</td>
	      <td class="lead spec">Yield maintenance after a lockout period</td>
	    </tr>
			<tr>
	      <td class="lead">Assumability</td>
	      <td class="lead spec">1% for qualified borrowers</td>
	    </tr>
			<tr>
	      <td class="lead">Ownership Transfers</td>
	      <td class="lead spec">Very limited, except for estate planning purposes</td>
	    </tr>
			<tr>
	      <td class="lead">Rate Lock</td>
	      <td class="lead spec">30 to 90 days</td>
	    </tr>
	  </tbody>
	</table>
	<hr>
	<div class="row">
		<div class="large-3 columns">
			<h5 class="subheader">Residual Value Insurance</h5>
			<p>
				RVI which typically costs 4-5% of the residual value insured amount is an option when the 
				borrower needs a longer amortization schedule, or more loan dollars
			</p>
		</div>
		<div class="large-3 columns">
			<h5 class="subheader">Lease Enhancement Insurance</h5>
			<p>
				Gap insurance is required at the time the tenant has a termination right in the event of a casualty or condemnation
			</p>
		</div>
		<div class="large-3 columns">
			<h5 class="subheader">Separate Parcel</h5>
			<p>
				The collateral for the transaction must have a separate tax parcel to qualify for CTL treatment
			</p>
		</div>
		<div class="large-3 columns">
			<h5 class="subheader">Assignability</h5>
			<p>
				The tenant may have the right to assign its lease so long as they remain responsible for all lease obligations
			</p>
		</div>
	</div>
</div>