<h1>Listing contact_messages</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_messages.each do |contact_message| %>
  <tr>
    <td><%= contact_message.email %></td>
    <td><%= contact_message.content %></td>

  </tr>
<% end %>
</table>

<br />


