<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-5 columns">

      </div>
      <div class="large-7 columns">
        <ul class="inline-list right">
					<li><%= image_tag("icsc_logo.gif") %></li>
					<li><%= image_tag("MBA_Member_logo.jpg", width: '90px' ) %></li>
          <li><%= link_to "Legal Information", legal_info_path %></li>
          
        </ul>
      </div>
    </div>
  </div>
</footer>